@import 'reset.sass'
@import 'frameless.sass'
@import 'fonts/stylesheet.sass'

//Colors

$drk_red: #50150C
$white: #ffffff
$cees: #cccccc
$nines: #999999
$sixes: #666666
$threes: #333333
$twos: #252525
$blktint: rgba(0,0,0,.5)

@mixin blacktint
  background: rgba(0,0,0,.5)

//General

html
  overflow-x: hidden
body
  background: $twos
  @include gudearegular
h1,h2,h3,h4,h5,h6
  font-weight: normal
  font-size: 22px
  margin: 0 0 $gutter 0
  text-transform: uppercase
  @include gudeabold
address
  font-style: normal
a
  color: $drk_red
  text-decoration: none
  transition: all .3s ease-in
  &:hover
    color: $cees
.wrapper
  width: $cols16
  margin: 0 auto
  position: relative

//Header

.menu
  background: $threes
  box-shadow: 1px 1px 4px $blktint
  z-index: 1
  position: relative
  a
    color: $white
    padding: $gutter
    display: block
    text-transform: uppercase
    font-size: 20px
    &:hover
      color: $nines
  ul
    text-align: right 
    li
      display: inline-block
      text-align: left
  .logo
    width: $cols5
    display: block
    position: absolute
    top: 0
    padding: 0
    img
      width: 100%
      height: auto

.masthead
  background: url(images/stone.png)
  background: url(images/red_shape.png) right 60px no-repeat, url(images/stone.png)
  header
    padding-bottom: 60px
  .branding
    h1,h2
      text-align: left
      text-indent: -9999em
      position: absolute
  .location
    position: absolute
    right: 0
    top: 0
    z-index: 0
    color: $white
    p, address
      border-radius: 0 0 5px 5px
      display: inline-block
      vertical-align: top
      box-shadow: 0 0 2px $blktint
      padding: 10px $gutter
      transition: all .3s ease-in
      &:hover
        padding: $gutter $gutter 10px
    p
      background: $nines
      border:
        top: none
        right: 2px solid $cees
        bottom: 2px solid $cees
        left: 2px solid $cees
    address
      background: $sixes
      border:
        top: none
        right: 2px solid $nines
        bottom: 2px solid $nines
        left: 2px solid $nines

//Front Page

.featured-content
  z-index: 1
  .primary, .secondary
    display: inline-block
    vertical-align: middle
    box-sizing: border-box
    white-space: nowrap
    &>*
      white-space: normal
  .primary
    width: $cols7
  .secondary
    width: $cols9
    line-height: 0
    text-align: center
    .ns-border-wrap
      background: $white
      display: inline-block
      box-shadow: 3px -2px 5px $blktint
      padding:
        top: 10px
        right: 10px
        bottom: 0
        left: 0
      img
        margin-left: -10px

.caption
  background: url(images/blktint.png)
  @include blacktint
  color: $white
  padding: $gutter
  border-radius: 8px
  h1,h2,h3,h4,h5,h6
    font-size: 52px

//Content

.content
  h2,h4,h6
    font-weight: normal
  p, blockquote, ul, ol, address
    line-height: 1.35em
  ul,ol
    margin: 0 0 $gutter 10px
    padding: 0 0 0 10px
  ul
    list-style: disc outside
  ol
    list-style: decimal outside
  p
    margin: 0 0 $gutter 0

.two-column
  background: $white
  padding: $gutter*2 0
  color: $threes
  .wrapper
    width: $cols14
  .primary, .secondary
    display: inline-block
    vertical-align: top
    box-sizing: border-box
    white-space: nowrap
    &>*
      white-space: normal
  .primary
    width: $cols10
    padding-left: $gutter
    h1,h3,h5
      font-size: 42px
  .secondary
    width: $cols4
    border-right: 1px solid $cees
    aside
      padding: 0 $gutter
      padding-bottom: $gutter
      &:last-child
        border-bottom: 1px solid $cees
    h3
      background: $nines
      border-radius: 5px 0 0 0
      color: $white
      padding: 10px
      width: 100%
      font-weight: normal
      @include gudearegular
    ul
      list-style-image: url(images/arrow.png)

//Sidebar

//Footer

.colophon
  background: $threes
  z-index: 2
  position: relative
  color: $nines
  padding: $gutter 0
  a
    color: $cees
    &:hover
      color: $white
  h1,h2,h3,h4,h5,h6
    color: $white
  aside
    display: inline-block
    vertical-align: top
    width: $cols5
    address, p
      span
        color: $white
    .phone
      margin: 0
  .logo
    width: $cols5
    display: block
    position: absolute
    right: 0
    top: $gutter
    img
      width: 100%
      height: auto
.credits
  background: $twos
  padding: $gutter 0
  color: $cees
  text-align: center
  a
    color: $white
    &:hover
      color: $sixes