@import 'reset.sass'
@import 'frameless.sass'
@import 'fonts/stylesheet.sass'

//Colors

$drk_red: #50150C
$white: #ffffff
$nines: #999999
$sixes: #666666
$threes: #333333

@mixin blackTint
  background: rgba(0,0,0,.5)

//General

//Header

//Front Page

//Content

//Sidebar

//Footer

//Break Points