html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ffff99;
  color: black;
  text-decoration: none; }

mark {
  background-color: #ffff99;
  color: black;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/*	Frameless			<http://framelessgrid.com/>
 *	by Joni Korpi 		<http://jonikorpi.com/>
 *	licensed under CC0	<http://creativecommons.org/publicdomain/zero/1.0/> */
/*	Margin, padding, and border resets
 *	except for form elements */
body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0; }

/*	Consistency fixes
 *	adopted from http://necolas.github.com/normalize.css/ */
article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section, audio, canvas, video {
  display: block; }

html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  min-height: 100%;
  font-size: 100%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

b, strong {
  font-weight: bold; }

abbr[title] {
  border-bottom: 1px dotted; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a img, img {
  -ms-interpolation-mode: bicubic;
  border: 0; }

input, textarea, button, select {
  margin: 0;
  font-size: 100%;
  line-height: normal;
  vertical-align: baseline; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

textarea {
  overflow: auto; }

/*	These are easy to forget */
::selection {
  background: red;
  color: white; }

::-moz-selection {
  background: red;
  color: white; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0.62); }

/*	Style overrides for IE6-8
 *	http://jonikorpi.com/leaving-old-IE-behind/ */
/*	An easy way to zoom your entire layout in or out (as long as it's set in ems).
 *	Just change the media queries to activate them.
 *	Assuming your base font-size is 16:
 *	- the first one zooms out by a factor of (16-2)/16 = 0.875
 *	- the second one zooms in by a factor of (16+2)/16 = 1.125 */
@media screen and (max-width: 1px) {
  body {
    font-size: 0.875em; } }
@media screen and (max-width: 1px) {
  body {
    font-size: 1.125em; } }
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on December 1, 2012 */
@font-face {
  font-family: "gudeabold";
  src: url("fonts/gudea-bold-webfont.eot");
  src: url("fonts/gudea-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gudea-bold-webfont.woff") format("woff"), url("fonts/gudea-bold-webfont.ttf") format("truetype"), url("fonts/gudea-bold-webfont.svg#gudeabold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "gudeaitalic";
  src: url("fonts/gudea-italic-webfont.eot");
  src: url("fonts/gudea-italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gudea-italic-webfont.woff") format("woff"), url("fonts/gudea-italic-webfont.ttf") format("truetype"), url("fonts/gudea-italic-webfont.svg#gudeaitalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "gudearegular";
  src: url("fonts/gudea-regular-webfont.eot");
  src: url("fonts/gudea-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gudea-regular-webfont.woff") format("woff"), url("fonts/gudea-regular-webfont.ttf") format("truetype"), url("fonts/gudea-regular-webfont.svg#gudearegular") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  overflow-x: hidden; }

body {
  background: #252525;
  font-family: "gudearegular", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 22px;
  margin: 0 0 20px 0;
  text-transform: uppercase;
  font-family: "gudeabold", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif; }

address {
  font-style: normal; }

a {
  color: #50150c;
  text-decoration: none;
  transition: all 0.3s ease-in; }
  a:hover {
    color: #cccccc; }

.wrapper {
  width: 78.75em;
  margin: 0 auto;
  position: relative; }

.menu {
  background: #333333;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: relative; }
  .menu a {
    color: white;
    padding: 20px;
    display: block;
    text-transform: uppercase;
    font-size: 20px; }
    .menu a:hover {
      color: #999999; }
  .menu ul {
    text-align: right; }
    .menu ul li {
      display: inline-block;
      text-align: left; }

.masthead {
  background: url(images/red_shape.png) right 60px no-repeat, url(images/stone.png); }
  .masthead .branding h1, .masthead .branding h2 {
    text-align: left;
    text-indent: -9999em;
    position: absolute; }
  .masthead .branding .logo {
    width: 23.75em;
    display: block; }
    .masthead .branding .logo img {
      width: 100%;
      height: auto; }
  .masthead .location {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    color: white; }
    .masthead .location p, .masthead .location address {
      border-radius: 0 0 5px 5px;
      display: inline-block;
      vertical-align: top;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
      padding: 10px 20px;
      transition: all 0.3s ease-in; }
      .masthead .location p:hover, .masthead .location address:hover {
        padding: 20px 20px 10px; }
    .masthead .location p {
      background: #999999;
      border-top: none;
      border-right: 2px solid #cccccc;
      border-bottom: 2px solid #cccccc;
      border-left: 2px solid #cccccc; }
    .masthead .location address {
      background: #666666;
      border-top: none;
      border-right: 2px solid #999999;
      border-bottom: 2px solid #999999;
      border-left: 2px solid #999999; }

.featured-content .primary, .featured-content .secondary {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  white-space: nowrap; }
  .featured-content .primary > *, .featured-content .secondary > * {
    white-space: normal; }
.featured-content .primary {
  width: 33.75em; }
.featured-content .secondary {
  width: 43.75em;
  line-height: 0;
  text-align: center; }

.caption {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
  border-radius: 8px; }
  .caption h1, .caption h2, .caption h3, .caption h4, .caption h5, .caption h6 {
    font-size: 52px; }

.content p, .content blockquote, .content ul, .content ol {
  line-height: 1.35em; }
.content ul, .content ol {
  margin: 0 0 20px 10px;
  padding: 0 0 0 10px; }
.content ul {
  list-style: disc outside; }
.content ol {
  list-style: decimal outside; }
.content p {
  margin: 0 0 20px 0; }

.colophon {
  background: #333333; }
  .colophon .credits {
    background: #252525; }
